@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Prompt:wght@400;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --prompt-font: "Prompt", sans-serif;
    --lato-font: "Lato", sans-serif;
}

a {
    text-decoration: none !important;
}

ul,
p,
h4,
h1,
pre {
    margin: 0;
}

#btn-back-toTop {
    display: inline-block;
    background-color: #ca0000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#btn-back-toTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#btn-back-toTop:hover {
    cursor: pointer;
    background-color: #333;
}

#btn-back-toTop:active {
    background-color: #555;
}

#btn-back-toTop.show {
    opacity: 1;
    visibility: visible;
}

.special-font-prompt {
    font-family: var(--prompt-font);
}

.special-font-lato {
    font-family: var(--lato-font);
}

.w-kly {
    width: 1056px !important;
    max-width: none !important;
}

/* NAVBAR CSS */
nav {
    padding: 25px 20px;
    /* border-bottom: 1px solid #e5e5e5; */
}

.search-container {
    display: flex;
    align-items: center;
}

.nav-second_section ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
}

#listItemNav {
    display: flex;
    gap: 15px;
}

.nav-second_section {
    margin-top: 28px;
}

#list-nav-open {
    display: none;
}

.open-nav,
.open-nav ul {
    display: flex !important;
    gap: 15px;
}

.nav-second_section ul li {
    list-style-type: none;
}

.nav-second_section ul li a,
.nav-second_section ul li button {
    display: block;
    text-decoration: none;
    font-family: var(--prompt-font);
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
}

.nav-second_section ul li a:hover {
    color: #ca0000;
}

.route_login {
    display: flex;
    align-items: center;
    justify-content: right;
}

.route_login a {
    text-decoration: none;
    font-family: var(--prompt-font);
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    text-align: right;
    text-transform: uppercase;
}

.route_login a:hover {
    color: #ca0000;
}

/* BREAKING NEWS CSS */
.breaking-news-container ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.breaking-news-container ul {
    padding: 10px 20px;
}

.breaking-news-container ul li {
    list-style-type: none;
    color: #000000;
    font-family: var(--prompt-font);
    font-size: 12px;
    font-weight: bold;
}

.breaking-news-container ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 11px;
}

.breaking-news-container ul li a:hover {
    color: #ca0000;
}

.breaking-news-logo {
    background-color: #000000;
    padding: 0 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
    position: absolute;
    border-bottom-left-radius: 10px;
}

.breaking-news-logo span {
    font-family: var(--prompt-font);
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.breaking-text-marquee {
    z-index: -1;
    position: relative;
    background-color: #ca0000;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.breaking-text-marquee span {
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: bold;
    color: white;
}

/* SPOTLIGHT WRAPPER */
.spotlight-wrapper {
    padding-bottom: 15px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 10px;
}

/* MAIN NEWS CSS HOMEPAGE */
.main-news-container {
    padding-bottom: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.main-news-container figure figcaption {
    padding: 7px 20px 0px 20px;
    font-size: 12px;
    font-family: var(--lato-font);
    color: #999999;
}

.main-news-container figure {
    aspect-ratio: calc(16 / 9);
    border-radius: 8px;
}

.main-news-container figure img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.main-news-container .main-news-deskripsi {
    padding: 0px 20px;
}

.main-news-container .main-news-deskripsi a h3 {
    font-family: var(--lato-font);
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
}

.main-news-container .main-news-deskripsi a h3:hover {
    color: #dc3545 !important;
}

.main-news-container .main-news-deskripsi p {
    margin: 6px 0px 0px 0px;
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 14px;
    color: #555555;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #e5e5e5; */
}

.img-info,
.video-info {
    color: #000000;
    padding: 0 20px;
    font-weight: bold;
}

.img-info:hover,
.video-info:hover {
    color: #dc3545;
}

/* TEXT-NEWS */
.text-news-container {
    border-bottom: 1px solid #e5e5e5;
    border-radius: 10px;
}

.text-news-container:last-child {
    border: none !important;
}

.text-news-container figure {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.text-news-container figure img {
    aspect-ratio: calc(19 / 11);
    border-radius: 8px;
    object-fit: cover;
}

.text-news-container figcaption {
    display: flex;
    flex-direction: column;
    margin: 0 12px;
}

.text-news-container .text-news-time {
    display: flex;
    flex-direction: row;
    margin-right: 4px;
}

.text-news-container .text-news-time a {
    font-family: var(--lato-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #ca0000 !important;
    font-weight: bold;
}

.text-news-container .text-news-time span {
    color: #999999 !important;
    font-weight: 400;
    font-size: 12px;
}

.text-news-container .text-news-desc p a {
    font-family: var(--lato-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.text-news-container .text-news-desc p a:hover {
    color: #dc3545;
}

.text-news-container .text-news-desc span {
    font-family: var(--lato-font);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #555555;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* SLIDER NEWS CSS */
.custom-slider {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.slider-thumb {
    margin: 0 20px;
    border-top: 1px solid #e5e5e5;
}

.slider-thumb h4 {
    font-family: var(--prompt-font);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 20px;
}

.custom-slider .slider-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.custom-slider .slider-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 12px;
}

.custom-slider .slider-container::-webkit-scrollbar {
    display: none;
}

.slider-container a {
    text-decoration: none;
}

.slider-container a:hover {
    color: #dc3545;
}

.custom-slider .slider-card {
    flex: 0 0 calc(96% / 3);
    margin: 0 2px;
    color: black;
}

.custom-slider .slider-image {
    background-color: silver;
    height: 115px;
    width: 212px;
    border-radius: 8px;
}

.slider-image img {
    object-fit: cover;
    border-radius: 8px;
}

.custom-slider .slider-info {
    margin-top: 10px;
    inline-size: 212px;
    display: flex;
}

.slider-info .time-info {
    color: #999999;
    font-family: var(--lato-font);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}

.custom-slider .slider-title {
    font-family: var(--lato-font);
    font-size: 10px;
    font-size: 12px;
    font-weight: 700;
}

.custom-slider .pre-btn,
.custom-slider .nxt-btn {
    border: none;
    position: absolute;
    height: 100%;
    top: 4em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: none;
    z-index: 8;
    filter: blur(0px) !important;
}

.custom-slider .pre-btn {
    left: 0px;
}

.custom-slider .nxt-btn {
    right: 0px;
}

/* LIST MAIN NEWS CSS */
.category-and-time span {
    font-family: var(--lato-font);
    font-size: 10px;
}

.list-main-news-deskripsi a {
    text-decoration: none;
}

.list-main-news-deskripsi a:hover {
    color: #dc3545 !important;
}

.list-news-image {
    background-color: silver;
    border-radius: 8px;
}

.list-news-image a img {
    object-fit: cover;
}

.list-main-news-card {
    padding: 20px 0px;
    border-bottom: 1px solid #e5e5e5;
    gap: 20px;
}

.list-main-news-card img {
    object-fit: cover;
    border-radius: 8px;
    width: 230px;
}

.list-main-news-deskripsi a h4 {
    font-family: var(--lato-font);
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.list-main-news-deskripsi a p {
    color: #555555;
    font-weight: 400;
    font-family: var(--lato-font);
    font-size: 13px;
}

/* GALLERY NEWS/IMAGE CSS */
.gallery-image-container {
    padding: 20px 0px;
    border-bottom: 1px solid #e5e5e5;
}

.photo-gallery {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 3px;
}

.photo-headline-gallery {
    width: 426px;
    background-color: silver;
}

.photo-headline-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-image-container .gallery-image-row-2 p {
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: 700;
    color: #e50000;
    display: inline-block;
    text-transform: uppercase;
}

.gallery-image-container .gallery-image-row-2 span {
    font-family: var(--lato-font);
    font-size: 10px;
    font-weight: 400;
    color: #999999;
}

.gallery-image-container .gallery-image-row-2 h4 {
    font-family: var(--lato-font);
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.photo-gallery-overlay {
    position: relative;
}

.photo-gallery-overlay:last-child {
    margin-top: 3px;
}

.photo-gallery-overlay a img:first-child {
    margin-bottom: 3px;
}

.photo-gallery-overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    user-select: none;
    z-index: 1;
    font-size: 45px;
}

.photo-gallery-overlay:last-child a:after,
.photo-gallery-overlay:last-child a:before {
    position: absolute;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.photo-gallery-overlay:last-child a:after {
    content: "\A";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.photo-gallery-overlay:last-child a:after,
.photo-gallery-overlay:last-child a:before {
    opacity: 1;
}

/* PROMOTION PRODUCT CSS */
.promotion-product-container {
    padding: 20px 25px;
    border-bottom: 1px solid #e5e5e5;
    gap: 15px;
}

.promotion-card a figure {
    margin-top: 10px;
    text-align: start;
}

.promotion-card a figure img {
    object-fit: cover;
    border-radius: 8px;
}

.promotion-card a {
    text-decoration: none;
}

.promotion-card a figure figcaption {
    margin-top: 5px;
}

.promotion-card a figure figcaption span {
    color: #d8056f;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--lato-font);
    font-size: 12px;
}

.promotion-card a figure figcaption p {
    color: #000000;
    font-size: 14px;
    font-family: var(--lato-font);
    font-weight: 700;
}

/* VIDEO NEWS STYLING */
.video-news-container {
    padding: 20px 0px;
    border-bottom: 1px solid #e5e5e5;
}

.video-news-container p a {
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: bold;
    color: #ca0000 !important;
    text-transform: uppercase;
}

.video-news-container span {
    font-family: var(--lato-font);
    font-size: 10px;
    font-weight: 400;
    color: #999999;
}

.video-news-container h4 a {
    font-family: var(--lato-font);
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin: 5px 0 0 0;
}

.video-news-container h4 a:hover {
    color: #dc3545;
}

.video-news-container .img-wrapper {
    aspect-ratio: calc(16 / 9);
    border-radius: 8px;
}

.video-news-container img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

/* TRENDING STYLING */
.trending-tag-container {
    margin-bottom: 30px;
}

.trending-tag-container h4 {
    font-weight: bold;
    font-size: 16px;
    font-family: var(--prompt-font);
    font-style: italic;
    text-transform: uppercase;
}

.trending-tag-container ul {
    padding: 0;
}

.trending-tag-container ul li {
    list-style-type: none;
}

.trending-tag-container ul li a {
    font-family: var(--lato-font);
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0px;
    display: block;
    border-bottom: 1px solid #e5e5e5;
}

.trending-tag-container ul li a:hover {
    color: #ca0000;
}

/* LIVE STREAMING CSS */
.live-streaming-container {
    margin-bottom: 30px;
}

.live-streaming-container h4 {
    font-weight: bold;
    font-size: 16px;
    font-family: var(--prompt-font);
    font-style: italic;
    text-transform: uppercase;
}

.live-streaming-container img {
    object-fit: cover;
}

.live-streaming-container a {
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.live-streaming-container figure figcaption {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #000000;
    margin-top: 6px;
    font-weight: 700;
}

/* BERITA SIDEBAR CSS */
.berita-sidebar-container {
    margin-bottom: 30px;
}

.berita-sidebar-container h4 {
    font-weight: bold;
    font-size: 16px;
    font-family: var(--prompt-font);
    font-style: italic;
    text-transform: uppercase;
}

.berita-sidebar-container a {
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.berita-sidebar-container .image-content {
    background-color: silver;
    width: 310px;
    height: 172px;
    border-radius: 8px;
}

.berita-sidebar-container .image-content img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.berita-sidebar-container span {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #000000;
    margin-top: 6px;
}

.berita-sidebar-container span:hover {
    color: #dc3545;
}

.list-berita-sidebar a {
    border-top: 1px solid #e5e5e5;
    padding: 10px 0px;
}

.list-berita-sidebar .image-content {
    background-color: silver;
    border-radius: 8px;
    width: 60px;
    height: 60px;
}

.list-berita-sidebar .image-content img {
    object-fit: cover;
    border-radius: 8px;
}

.list-berita-sidebar p {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    width: 70%;
    overflow-wrap: break-word;
}

.list-berita-sidebar p:hover {
    color: #dc3545;
}

/* POPULER NEWS CSS */

.populer-container h4 {
    font-weight: bold;
    font-size: 16px;
    font-family: var(--prompt-font);
    font-style: italic;
    text-transform: uppercase;
}

.list-populer-container .image-content {
    background-color: silver;
    border-radius: 8px;
}

.list-populer-container .image-content img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.list-populer-container a {
    display: block;
    text-decoration: none;
}

.list-populer-container {
    margin-top: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}

.list-berita-populer a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px 20px;
    border: 1px solid #e5e5e5;
    margin: 0;
}

.list-berita-populer div:first-child {
    width: 20%;
}

.list-berita-populer h1 {
    color: #e5e5e5;
    font-size: 45px;
    font-family: var(--prompt-font);
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.berita-populer-deskripsi {
    width: 100%;
}

.berita-populer-deskripsi span {
    font-family: var(--lato-font);
    font-size: 10px;
    font-weight: 700;
    color: #ca0000;
    text-transform: uppercase;
}

.berita-populer-deskripsi p {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #000000;
}

.berita-populer-deskripsi p:hover {
    color: #dc3545;
}

/* FOOTER CSS */
.footer-container {
    background: #f5f5f5;
    text-align: center;
    padding: 35px 30px 0px 30px;
    margin-top: 20px;
}

.first-link-footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.first-link-footer a {
    font-family: var(--prompt-font);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.social-media-container ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 15px;
}

.copyright {
    margin-top: 40px;
    padding: 15px;
    border-top: 1px solid #999999;
}

.copyright p {
    color: #999999;
    font-size: 12px;
    font-family: var(--lato-font);
}

/* MAIN CONTENT NEWS  & VIDEO CSS */
.main-content-news-container,
.main-content-video-container {
    margin-bottom: 20px;
}

.top-bar-item.active a {
    color: #dc3545 !important;
}

.main-content-news-container ul,
.main-content-video-container ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.main-content-news-container ul li a,
.main-content-video-container ul li a {
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: 700;
    color: #999999;
}

.main-content-news-container ul li a:hover,
.main-content-video-container ul li a:hover {
    color: #dc3545;
}

.main-content-news-container h4,
.main-content-video-container h4 {
    font-family: var(--lato-font);
    font-size: 30px;
    font-weight: 900;
    color: #000000;
}

.account-shared-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.account-shared-content img {
    border-radius: 80%;
}

.account-shared-content .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.account .account-detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.account .account-detail p a {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.account .account-detail p a:hover {
    color: #dc3545;
}

.account-shared-content .account p,
.account-shared-content .account span {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    display: inline-block;
    margin: 0;
}

.account-shared-content .account span {
    color: #999999;
}

.account-shared-content .shared {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.account-shared-content .shared .total-comments {
    background-color: #999999;
    display: flex;
    padding: 10px;
    border-radius: 20px;
}

.main-content-news-container .content-news figure {
    margin: 0;
    height: auto;
    background-color: silver;
    width: 100%;
    border-radius: 8px;
}

.main-content-video-container .content-news figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-news-container .content-news img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.main-content-news-container .content-news figcaption::first-letter {
    text-transform: uppercase;
}

.main-content-news-container .content-news figcaption {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    font-style: italic;
}

.content-news .dt-paragraph p {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 14px;
    color: #000000 !important;
    text-align: justify;
    line-height: 1.9em;
}

/* READ TOO CSS */
.baca-juga-container {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}

.baca-juga-container h4 {
    font-family: var(--lato-font);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 15px;
}

.baca-juga-card-news {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;
}

.baca-juga-card-news a {
    text-decoration: none;
    display: block;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 12px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    color: #000000;
    padding: 0px 15px;
}

.baca-juga-card-news a:first-child,
.baca-juga-card-news a:last-child {
    border: none;
}

.baca-juga-card-news a:hover {
    color: #ca0000;
}

/* RELATED TAG CSS */
.related-tag-container {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.related-tag-container ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 15px;
    line-height: 2em;
}

.related-tag-container ul li a {
    background-color: #ca0000;
    color: white !important;
    font-family: var(--lato-font);
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
}

/* CREDIT CSS */
.credit-container {
    margin-bottom: 20px;
}

.row-card {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    gap: 40px;
}

.credit-container .card-credit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.credit-container .card-credit img {
    object-fit: cover;
    width: 100%;
}

.credit-container h4,
.credit-container .card-credit p a {
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: 700;
    color: #000000;
}

.credit-container .card-credit p a:hover {
    color: #dc3545;
}

.credit-container .card-credit .desc-info span {
    color: #999999;
}

/* SHARE NEWS CSS */
.share-news-container {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.share-news-container .icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.share-news-container p,
.share-news-container h4 {
    font-family: var(--lato-font);
    color: #000000;
}

.share-news-container h4 {
    font-size: 12px;
    font-weight: 700;
}

.share-news-container .icons p {
    font-size: 12px;
    font-weight: 400;
}

.share-news-container .icons h4 {
    font-size: 18px;
    font-weight: 700;
}

/* REPORT ARTICLE CSS */
.report-btn {
    font-family: var(--lato-font);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.desc-report {
    width: 73px;
}

/* TAB NEWS CSS */
.tab-news-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.tab-news-container .title-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tab-news-container h1 {
    font-family: var(--lato-font);
    font-weight: 900;
    font-size: 24px;
    color: #000000;
}

.tab-news-container p {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}

.tab-news-container .tabs-content {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tab-news-container .tabs-content a {
    padding: 10px 15px;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 13px;
    color: #000000;
}

.tab-news-container .tabs-content a:first-child,
.tab-news-container .tabs-content a:hover {
    border-bottom: 2px solid #000000;
    color: #ca0000;
}

/* MORE INFO CSS */
.more-info-container {
    margin-bottom: 20px;
    font-family: var(--lato-font);
    font-size: 14px;
}

.more-info-container p {
    margin-top: 20px;
    color: #000000;
}

.more-info-container a {
    color: #ca0000;
}

.more-info-container .desc {
    margin-top: 5px;
}

/* PHOTO COLLECTION CSS */
.photo-collection-container {
    margin-bottom: 20px;
}

.photo-collection-container h4 {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}

.photo-collection-container span {
    color: #ca0000;
}

.photo-collection-container .card-photo-content {
    display: flex;
    gap: 15px;
}

.photo-collection-container .card-photo-news {
    display: flex;
    flex-direction: column;
}

.photo-collection-container .card-photo-news img {
    object-fit: cover;
    border-radius: 8px;
}

.photo-collection-container .card-photo-news p a {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    inline-size: 12em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.photo-collection-container .card-photo-news p a:hover {
    color: #dc3545;
}

/* VIDEO COLLECTION CSS */
.video-collection-container {
    margin-bottom: 20px;
}

.video-collection-container h4 {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}

.video-collection-container span {
    color: #ca0000;
}

.video-collection-container .card-video-content {
    display: flex;
    gap: 15px;
}

.video-collection-container .card-video-news {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.video-collection-container .card-video-news img {
    object-fit: cover;
    border-radius: 8px;
    /* width: 100%; */
}

.video-collection-container .card-video-news p a {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    inline-size: 12em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.video-collection-container .card-video-news p a:hover {
    color: #dc3545;
}

/* SEARCH INDEX CONTAINER */
.search-index-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: 700;
}

.search-index-container input {
    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    color: #000000;
    width: 75%;
    border-radius: 8px;
    padding: 10px 15px;
    outline: none;
}

.search-index-container button {
    width: 25%;
    padding: 10px 15px;
    text-transform: uppercase;
    color: white;
    outline: none;
    border: none;
    background-color: #ca0000;
    border-radius: 8px;
}

/* INDEX KANAL CSS */
.index-kanal-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}

.index-kanal-container h4 {
    font-family: var(--prompt-font);
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    font-style: italic;
    text-transform: uppercase;
}

.index-kanal-container .index-kanal-content {
    display: flex;
    flex-direction: column;
}

.index-kanal-container .index-kanal-content a {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    border-bottom: 1px solid #e5e5e5;
    font-family: var(--lato-font);
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.index-kanal-container .index-kanal-content a:last-child {
    border: none;
}

.index-kanal-container .index-kanal-content a span:last-child {
    color: #ca0000;
}

.index-kanal-container .index-kanal-content a:hover {
    color: #ca0000;
}

/* NOT FOUND CSS */
.not-found-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-container h1 {
    font-family: var(--lato-font);
    font-weight: 900;
    font-size: 30px;
    color: #999999;
    margin-top: 45px;
}

.not-found-container p {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 20px;
    color: #999999;
}

/* asd */
.form-modal {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity linear 0.2s;
    z-index: 2;
}

.form-modal:target {
    height: 100%;
    opacity: 1;
}

.form-modal .modal__content {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.form-modal .modal__content__close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    width: 20px;
    line-height: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    color: #ca0000;
}

.form-modal .modal__close::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.form-report h4 {
    font-family: var(--prompt-font);
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    color: #000000;
    text-transform: uppercase;
}

.form-report .banner-article {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-report .banner-article p {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.form-report .form-data-report {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-report .form-data-report input,
.form-report .form-data-report textarea {
    width: 100%;
    padding: 6px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    outline: none;
}

.form-report .submit-report-content {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.form-report .submit-report-content button {
    outline: none;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #ca0000;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
}

/* BERITA TERKINI */
.berita-terkini-container {
    margin: 30px 0;
}

.berita-terkini-container h4 {
    font-weight: bold;
    font-size: 16px;
    font-family: var(--prompt-font);
    font-style: italic;
    text-transform: uppercase;
}

.berita-terkini-container a {
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.berita-terkini-container .image-content {
    background-color: silver;
    /* width: 310px;
    height: 172px; */
}

.berita-terkini-container .image-content img {
    object-fit: cover;
    width: 100%;
}

.berita-terkini-container span {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #000000;
    margin-top: 6px;
}

.list-berita-terkini a {
    border-top: 1px solid #e5e5e5;
    padding: 10px 0px;
}

.list-berita-terkini .image-content {
    background-color: silver;
    border-radius: 8px;
    width: 60px;
    height: 60px;
}

.list-berita-terkini .image-content img {
    object-fit: cover;
    border-radius: 8px;
}

.list-berita-terkini p {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    width: 70%;
    overflow-wrap: break-word;
}

/*  RELATED NEWS  & VIDDEO LIST*/

.related-news-container,
.related-video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

.related-news-container .img-news,
.related-video-container .video-frame {
    border-radius: 8px;
}

.related-news-container .img-news a img,
.related-video-container .video-frame a img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.related-news-container .img-news p,
.related-video-container .video-frame p {
    font-family: var(--lato-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.related-video-container .video-frame p:hover,
.related-news-container .img-news p:hover {
    color: #dc3545;
}

/* PAGINATION CONTAINER */
.pagination-container ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.paginationlist-item:not(:first-child) {
    margin-left: 8px;
}

.paginationlist-item a {
    align-items: center;
    background-color: #e5e5e5;
    border-radius: 8px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    min-height: 36px;
    min-width: 36px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: rgb(0, 0, 0);
}

.paginationlist-item a .iconSVG {
    height: 12px;
    width: 12px;
}

.paginationlist-item a:hover,
.paginationlist-item.active a {
    background-color: #ca0000;
    color: white !important;
}

.paginationlist-item a:hover .iconSVG,
.paginationlist-item.active a .iconSVG {
    fill: #ffffff;
}

/* PHOTO DETAIL */
.black-bg-photo {
    background-color: #000000;
    padding: 20px 10px 80px 10px;
    position: relative;
}

.black-bg-photo .photo-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-bg-photo .photo-tools a {
    color: white;
}

.photo-tools .share-links {
    display: flex;
    gap: 10px;
}

.photo-tools button {
    background: none;
    color: white;
}

.photo-tools .share-links a {
    min-height: 36px;
    min-width: 36px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 100px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-detail-container {
    margin: 20px;
}

.list-photo-detail button {
    min-height: 30px;
    min-width: 70px;
    border: none;
}

.list-photo-detail button.active {
    min-height: 60px;
    min-width: 100px;
}

.photo-detail-section .info-author {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.photo-detail-section {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.photo-detail-section .info-author a,
.photo-detail-section .info-author span {
    color: #000000;
    font-family: var(--lato-font);
    font-size: 14px;
}

.photo-detail-section .all-news-info .editor-photo {
    color: #000000;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    font-family: var(--lato-font);
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.photo-detail-section .all-news-info .synopsis {
    color: #999999;
    margin-top: 20px;
    font-family: var(--lato-font);
    font-size: 14px;
}

.photo-detail-section .info-author span {
    color: #999999;
}

.all-news-info {
    padding: 14px 20px;
}

.photo-detail-section .all-news-info .tag-related-detail {
    margin-top: 20px;
}

.vertical-scroll,
.photo-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.vertical-scroll::-webkit-scrollbar {
    display: none;
}

.photo-terkini-container {
    margin-top: 35px;
}

.photo-terkini-container h2 {
    font-family: var(--lato-font);
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    color: #000000;
}

.latest-photo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.latest-photo-container figure a {
    display: inline-block;
}

.latest-photo-container figure .foto-content {
    width: 200px;
    height: 112px;
    background-color: silver;
    border-radius: 8px;
}

.latest-photo-container figure .foto-content img {
    border-radius: 8px;
    object-fit: cover;
}

.latest-photo-container figure figcaption {
    margin-top: 10px;
    inline-size: 200px;
}

.latest-photo-container figure figcaption p a {
    color: #000000;
    font-family: var(--lato-font);
    font-size: 14px;
    font-weight: 700;
}

/* CSS PAGE VIDEO */

.video-bar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.video-bar ul a {
    color: #999999;
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: 700;
}

.video-bar ul a:hover {
    color: #dc3545;
}

.video-container {
    background-color: #f9f9f9;
    min-height: 600px;
    border-radius: 8px;
}

.video-container .video-item-top {
    display: flex;
    flex-direction: row;
    border-top-right-radius: 8px;
    justify-content: center;
}

.video-container .video-item-top img {
    border-top-left-radius: 8px;
}

.video-container figure {
    aspect-ratio: calc(16 / 9);
    background-color: #f9f9f9;
}

.video-container h4 a,
span a,
h2 a,
p as {
    font-family: var(--lato-font);
    font-style: normal;
}

.video-container h4 a {
    color: #ca0000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.video-container .video-item-top figcaption span,
.video-container .video-item-top figcaption p {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}

.video-container .video-item-top figcaption h2 a {
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5em;
}

.video-container .video-item-top figcaption h2 a:hover {
    color: #dc3545;
}
.gallery-video-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    justify-content: center;
}

.gallery-video-wrapper img {
    border-radius: 8px;
    object-fit: cover;
}

.video-item-gallery .video-desc p a {
    font-family: var(--lato-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
    line-height: 1.3em;
}

.video-item-gallery .video-desc p a:hover {
    color: #d8056f;
}

.video-item-gallery .video-button {
    position: relative;
}

.video-item-gallery .video-button .icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

/* TRENDING VIDEO */
.trending-video-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video-trending-container {
    border-bottom: 1px solid #e5e5e5;
    border-radius: 10px;
}

.video-trending-container figure {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.video-trending-container figure img {
    border-radius: 8px;
}

.video-trending-container .trending-video {
    background-color: silver;
    aspect-ratio: calc(19 / 11);
    border-radius: 8px;
    background-color: silver;
}

.video-trending-container .video-trending-tag a {
    font-family: var(--lato-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ca0000;
}

.video-trending-container .video-trending-desc a {
    font-family: var(--lato-font);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #333333;
}

.content-photo-detail {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Photo Pages */
.photo-breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.photo-breadcrumb a {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #999999;
}

.photo-breadcrumb a:hover {
    color: #ca0000;
}

.photo-breadcrumb li.active a {
    color: #ca0000;
}

.photo-trending h4 {
    font-family: var(--lato-font);
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.photo-trending a {
    font-family: var(--lato-font);
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.photo-trending a:hover {
    color: #ca0000;
}

.photo-trending ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.photo-trending li::after {
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
}

.photo-trending li:last-child::after {
    content: "";
}

.photo-headline .topFoto {
    min-height: 389px;
}

.photo-headline .topFoto-item {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 1px;
}

.photo-headline .topFoto-item .item-img {
    position: relative;
}

.photo-headline .topFoto-item .item-img img {
    object-fit: cover;
}

.photo-headline .topFoto-item .item-img--main {
    width: 761px;
    height: 389px;
    grid-area: 1 / 1 / 4 / 4;
}

.photo-headline .topFoto-item .item-img--aside {
    width: 230px;
    height: 129px;
}

.photo-headline .text-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.photo-headline .data-overlay,
.photo-pages-news-container .data-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2px;
    background-color: #00000080;
    min-height: 15px;
    min-width: 15px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: white;
    font-weight: 400;
    font-family: var(--lato-font);
}

.photo-headline .text-overlay p {
    font-family: var(--lato-font);
    color: white;
    font-weight: bold;
}

.photo-pages-news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.photo-pages-news-container figure a {
    display: inline-block;
}

.photo-pages-news-container figure .foto-content {
    width: 236px;
    height: 133px;
    background-color: silver;
    position: relative;
    border-radius: 8px;
}

.photo-pages-news-container figure .foto-content img {
    border-radius: 8px;
    object-fit: cover;
}

.photo-pages-news-container figure figcaption {
    margin-top: 10px;
    inline-size: 236px;
}

.photo-pages-news-container figure figcaption p a {
    color: #000000;
    font-family: var(--lato-font);
    font-size: 14px;
    font-weight: 700;
}

.content-wrapper {
    min-height: 80vh;
    overflow: hidden;
}

/* Static Page */
.static-container {
    margin-top: 30px;
}

.static-container h1 {
    font-family: var(--lato-font);
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}

.static-container .static-text p {
    color: #000000 !important;
}

/* Kontak Kami CSS */
.contact-us-container {
    margin-top: 20px;
}

.contact-us-container h4,
.contact-us-container p {
    font-family: var(--lato-font);
    color: black;
}

.contact-us-container h4 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-us-container p {
    font-size: 14px;
}

.contact-us-container .form-contact {
    margin-top: 20px;
}

.contact-us-container .form-contact .form-button button {
    background-color: #ca0000;
    color: white;
}
