@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Prompt:wght@400;600&display=swap);

*,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

.breaking-news-logo {
    background-color: #000000;
    padding: 9px 35px 11px 13px;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    position: absolute;
}
.breaking-news-logo span,
.special-font-prompt {
    font-family: var(--prompt-font);
}

.tab-news-container .about-content p,
.tab-news-container .content p {
    text-align: left;
    font-size: 14px;
    color: #000;
}

* {
    box-sizing: border-box;
}

:root {
    --prompt-font: "Prompt", sans-serif;
    --lato-font: "Lato", sans-serif;
}

.special-font-lato {
    font-family: var(--lato-font);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
}

nav img {
    cursor: pointer;
}

.nav-main {
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: white;
    overflow-y: auto;
    transform: translateX(-100%);
}

.nav-content {
    display: flex;
    flex-direction: column;
}

.nav-main.active {
    left: 0;
}

.nav-main .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 15px 5px;
    border-bottom: 0.2px solid gainsboro;
}

.nav-header img {
    cursor: pointer;
}

.nav-menus {
    padding: 15px;
}

.nav-menus li {
    list-style: none;
    font-size: 16px;
    padding: 10px 0;
    font-family: var(--lato-font);
}

.breaking-news-logo {
    background-color: #000000;
    padding: 7px 35px 11px 13px;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    position: absolute;
}

.breaking-news-logo span {
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.breaking-text-marquee {
    z-index: -1;
    position: relative;
    background-color: #ca0000;
    padding: 10px 15px;
}

.breaking-text-marquee span {
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.main-news-deskripsi {
    margin: 25px 20px;
    line-height: 1.5;
}

.main-content-news-container .content-news .image-news,
.main-news-container .image-news {
    position: relative;
    --aspect-ratio: 23/14;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    background-color: silver;
}

.ads-container img,
.main-content-news-container .content-news .image-news img,
.main-news-container .image-news img,
.not-found-container .image-news img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-news-deskripsi h3 {
    font-family: var(--lato-font);
    color: #000;
    font-size: 24px;
    font-weight: bolder;
}

.main-news-deskripsi p {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 12px;
    color: #999;
}

.trending-tag-container {
    margin: 20px;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 4px;
}

.slider-container h4,
.trending-tag-container h4 {
    font-family: var(--prompt-font);
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

.trending-tag-container .list-trending-tag {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    line-height: 25px;
    list-style: none;
}

.trending-tag-container .list-trending-tag a::after {
    content: "/";
    margin-left: 10px;
}

.baca-juga-container a:last-child::after,
.related-tag-container a:last-child::after,
.trending-tag-container .list-trending-tag a:last-child::after {
    content: "";
}

.trending-tag-container .list-trending-tag a {
    color: #000;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.list-main-news-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 40px 20px;
}

.list-main-news-container .card-news a {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
}

.list-main-news-container .card-news a img {
    object-fit: cover;
    border-radius: 4px;
}

.list-main-news-container .card-news .banner {
    display: flex;
    gap: 5px;
}

.list-main-news-container .card-news .banner p {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 10px;
    color: #ca0000;
    text-transform: uppercase;
}

.list-main-news-container .card-news .banner span {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 10px;
    color: #999;
}

.list-main-news-container .card-news .description h4 {
    margin-top: 4px;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 16px;
    color: #000;
}

.highlight-article-container,
.slider-container {
}

.slider-container h4 {
    margin: 0 20px;
}

.slider-container figure {
    width: 190px;
}

.slider-content {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 15px;
    align-items: flex-start;
    margin-top: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider-container .slider-content::-webkit-scrollbar {
    display: none;
}

.slider-container .slider-news figure {
    width: 200px;
}

.slider-container .slider-news figcaption {
    margin-top: 10px;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 14px;
    color: #000;
    width: 190px;
}

.slider-container .slider-news .image-news {
    position: relative;
    --aspect-ratio: 16/9;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    background-color: silver;
    border-radius: 4px;
}

.slider-container .slider-news .image-news img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.slider-container .slider-news:first-child {
    margin-left: 20px;
}

.slider-container .slider-news:last-child {
    margin-right: 20px;
}

.footer-container {
    background-color: #000;
    border-top: 4px solid #ca0000;
    padding: 35px 20px 15px;
    text-align: center;
}

.footer-container .link-footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-container .link-footer a {
    color: #fff;
    font-family: var(--prompt-font);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.footer-container p {
    margin-top: 40px;
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 11px;
    color: #fff;
}

.footer-container .social-media {
    margin: 20px 0px 30px;
    display: flex;
    justify-content: center;
    /* gap: 50px; */
}
.footer-container .social-media a {
    margin: 0px 10px;
}

.footer-container span {
    color: #fff;
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 11px;
}

.main-content-news-container span,
.main-content-news-container span a {
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: 400;
    color: #999;
}

.main-news-container .dt-paragraph {
    font-family: var(--lato-font);
    font-weight: 500;
    font-size: 16px;
    /* margin-right: 2px; */
    line-height: 230%;
    color: #000000;
    text-align: justify;

    margin: 27px;
}
.dt-paragraph {
    font-style: normal;
}

.main-content-news-container span a {
    color: #ca0000;
    text-decoration: none;
}

.main-content-news-container h4 {
    margin-top: 15px;
    font-family: var(--lato-font);
    font-size: 24px;
    font-weight: 900;
    color: #000;
}

.account-detail {
    margin-top: 15px;
}

.main-content-news-container h5,
.main-content-news-container span,
.photo-collection-container .card-photo-news p,
.video-collection-container .card-video-news p {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 12px;
    color: #000;
}

.main-content-news-container span {
    color: #999;
}

.main-content-news-container .content-news,
.tab-news-container .content {
    margin-top: 20px;
}

.main-content-news-container .content-news figcaption {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 12px;
    color: #999;
    padding: 10px 0;
}

.main-content-news-container .content-news .content-detail {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.content-news .shared-news {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin-bottom: 20px;
}

.content-news .shared-news a:last-child {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 9px;
    color: #ca0000;
    padding: 8px;
    border: 1px solid #ca0000;
    border-radius: 4px;
}

.baca-juga-container {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.baca-juga-container p {
    font-family: var(--prompt-font);
    font-weight: 700;
    font-size: 16px;
    color: #000;
    font-style: italic;
    text-transform: uppercase;
}

.baca-juga-container a {
    font-family: var(--lato-font);
    font-size: 14px;
    font-weight: 700;
    color: #ca0000;
}

.baca-juga-container a::after {
    content: ",";
}

.baca-juga-list-container {
    padding: 15px;
    margin: 15px 0;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin: 40px 28px;
}

.baca-juga-list-container h4 {
    font-family: var(--prompt-font);
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    color: #000;
}

.baca-juga-list-container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding-top: 10px;
    margin: 0;
}

.baca-juga-list-container li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.artikel-terkait-container a,
.populer-container a {
    display: block;
    text-decoration: none;
}

.baca-juga-list-container ul li::before {
    content: "• ";
    color: #ca0000;
}

.baca-juga-list-container ul li a {
    color: #000;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 14px;
    text-align: justify;
}

.related-tag-container {
    margin: 25px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 200%;
}

.related-tag-container a {
    font-family: var(--lato-font);
    font-size: 12px;
    font-weight: 700;
    color: #ca0000;
    text-transform: uppercase;
}

.related-tag-container a::after {
    content: "/";
    margin-left: 20px;
}

.related-tag-container a:last-child {
    color: #000;
}

.artikel-terkait-container {
    margin: 10px 24px;
}

.artikel-terkait-container h4,
.populer-container h4 {
    font-weight: 700;
    font-size: 16px;
    font-family: var(--prompt-font);
    font-style: italic;
    text-transform: uppercase;
}

.artikel-terkait-container .image-news {
    position: relative;
    --aspect-ratio: 23/13;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    background-color: silver;
    border-radius: 8px;
}

.artikel-terkait-container .image-news img,
.video-collection-container .video-news iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.artikel-terkait-container a {
    margin-top: 15px;
}

.artikel-terkait-container figure figcaption {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-top: 10px;
}

.populer-container {
    background: #fff;
}

.list-berita-populer {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.list-berita-populer a {
    text-decoration: none;
    display: flex;
    padding: 20px 7px;
    border-bottom: 1px solid #e5e5e5;
}

.list-berita-populer a:last-child {
    border-bottom: none;
}

.berita-populer-deskripsi {
    margin-left: 20px;
}

.list-berita-populer h1 {
    width: 65px;
    text-align: center;
    color: #e5e5e5;
    font-size: 45px;
    font-family: var(--prompt-font);
    font-style: italic;
    font-weight: 700;
}

.highlight-article-container img,
.main-ads__container img,
.photo-collection-container .image-news img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.highlight-article-container p,
.highlight-article-container span,
.ringkas-container a {
    font-family: var(--lato-font);
    font-style: normal;
}

.berita-populer-deskripsi span {
    font-family: var(--lato-font);
    font-size: 10px;
    font-weight: 700;
    color: #ca0000;
    text-transform: uppercase;
}

.berita-populer-deskripsi p {
    font-family: var(--lato-font);
    font-size: 14px;
    color: #000;
}

.tab-news-container {
    margin: 20px 0;
    text-align: center;
}

.tab-news-container h1 {
    font-family: var(--lato-font);
    font-weight: 900;
    font-size: 16px;
    color: #000;
}

.tab-news-container .content p,
.tab-news-container p {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}

.tab-news-container .about-content {
    margin-top: 30px;
}

.tab-news-container .about-content p {
    font-family: var(--lato-font);
}

.photo-collection-container,
.report-article-container,
.video-collection-container {
    margin-bottom: 20px;
}

.photo-collection-container .image-news,
.video-collection-container .video-news {
    position: relative;
    --aspect-ratio: 55/31;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    border-radius: 8px;
    background-color: silver;
}

.photo-collection-container .image-news img {
    border-radius: 8px;
}

.photo-collection-container h4,
.video-collection-container h4 {
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.photo-collection-container span,
.video-collection-container span {
    color: #ca0000;
}

.photo-collection-container .card-photo-content,
.video-collection-container .card-video-content {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.photo-collection-container .card-photo-news,
.video-collection-container .card-video-news {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.index-kanal-container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.index-kanal-container button,
.index-kanal-container select {
    border: 1px solid #e5e5e5;
    padding: 7px 12px;
    color: #999;
    border-radius: 4px;
    background-color: #f9f9f9;
    outline: 0;
}

.index-kanal-container button {
    background-color: #ca0000;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--lato-font);
    font-weight: 700;
    font-size: 12px;
}

.not-found-container {
    text-align: center;
    margin: 80px 25px;
}

.not-found-container .image-news {
    position: relative;
    --aspect-ratio: 5/4;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    background-color: #fff;
}

.ads-container,
.highlight-article-container .image-news,
.main-ads__container {
    position: relative;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    background-color: silver;
}

.not-found-container h1 {
    font-family: var(--lato-font);
    font-weight: 900;
    font-size: 24px;
    color: #999;
    margin-top: 45px;
}

.not-found-container p {
    font-family: var(--lato-font);
    font-weight: 400;
    font-size: 16px;
    color: #999;
}

.report-article-container a {
    padding: 13px 20px;
    background-color: #fff;
    border: 1px solid #e5e5ee;
    border-radius: 8px;
}

.report-article-container p {
    display: inline-block;
    font-family: var(--lato-font);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.ads-container {
    margin: 25px;
    --aspect-ratio: 32/5;
}

.main-ads__container {
    margin: 25px;
    --aspect-ratio: 6/5;
}

.highlight-article-container .banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.highlight-article-container p {
    color: #ca0000;
    font-weight: 700;
    font-size: 10px;
}

.highlight-article-container span {
    color: #999;
    font-weight: 400;
    font-size: 10px;
}

.highlight-article-container figcaption {
    color: #000;
    font-weight: 700;
    font-family: var(--lato-font);
    font-size: 16px;
}

.highlight-article-container .image-news {
    --aspect-ratio: 23/13;
    margin: 10px 0;
}

.ringkas-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ringkas-container a {
    color: #ca0000;
    font-size: 12px;
    font-weight: 700;
}

.dt-share-container {
    padding: 10px 10px 10px 25px;
}
.fa-facebook-f,
.fa-whatsapp,
.fa-twitter {
    color: white;
    padding: 10px 23px;
}
.fa-brands {
    font-family: "Font Awesome 6 Brands";
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 60px;
    height: 35px;
}
.fa-fb {
    background-color: #4a6db4;
}
.fa-wa {
    background-color: #86c747;
}
.fa-twitter {
    background-color: #1dadeb;
}
